<h2>Show Book</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @book.name %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @book.author %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @book.category %>
  </li>

</ul>

<span><%= link "Edit", to: book_path(@conn, :edit, @book) %></span>
<span><%= link "Back", to: book_path(@conn, :index) %></span>
